# AI-Lab: 10
### Rollnumber: BSDS 3A
### Name: Ayesha sikander

In [1]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

### Data Gathering and Data Loading

In [2]:
df = pd.read_csv("Laptop_price.csv")
df

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,3.830296,16,512,11.185147,2.641094,17395.093065
1,Acer,2.912833,4,1000,11.311372,3.260012,31607.605919
2,Lenovo,3.241627,4,256,11.853023,2.029061,9291.023542
3,Acer,3.806248,16,512,12.280360,4.573865,17436.728334
4,Acer,3.268097,32,1000,14.990877,4.193472,32917.990718
...,...,...,...,...,...,...,...
995,HP,3.343584,4,1000,12.587095,3.162399,31593.668017
996,Dell,2.780555,8,256,12.679356,3.750265,9149.521832
997,Dell,3.200569,4,512,12.666315,3.392612,16552.404779
998,Asus,1.604182,8,256,11.215581,3.857613,9407.473459
999,Lenovo,1.711980,4,256,16.561498,3.440883,8807.696702

### Data Exploration

In [3]:
df.head(2)

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,3.830296,16,512,11.185147,2.641094,17395.093065
1,Acer,2.912833,4,1000,11.311372,3.260012,31607.605919

In [4]:
df.tail(2)

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
998,Asus,1.604182,8,256,11.215581,3.857613,9407.473459
999,Lenovo,1.711980,4,256,16.561498,3.440883,8807.696702

In [5]:
df.columns

Index(['Brand', 'Processor_Speed', 'RAM_Size', 'Storage_Capacity',
       'Screen_Size', 'Weight', 'Price'],
      dtype='object')

In [7]:
df.count()

Brand               1000
Processor_Speed     1000
RAM_Size            1000
Storage_Capacity    1000
Screen_Size         1000
Weight              1000
Price               1000
dtype: int64

In [8]:
df.describe()

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.750611,15.500000,584.576000,14.056790,3.466919,19604.187963
std,0.731796,10.988665,313.438517,1.705882,0.866541,9406.064880
min,1.511580,4.000000,256.000000,11.012111,2.000560,8570.012950
25%,2.089246,8.000000,256.000000,12.635523,2.717211,10114.012948
50%,2.760885,16.000000,512.000000,14.099643,3.464630,17287.241878
75%,3.362610,32.000000,1000.000000,15.528590,4.212583,31566.214754
max,3.998534,32.000000,1000.000000,16.985737,4.990728,33503.935037

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             1000 non-null   object
 1   Processor_Speed   1000 non-null   float64
 2   RAM_Size          1000 non-null   int64
 3   Storage_Capacity  1000 non-null   int64
 4   Screen_Size       1000 non-null   float64
 5   Weight            1000 non-null   float64
 6   Price             1000 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 54.8+ KB

In [10]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 1000 and Number of Columns: 7

In [12]:
df['Weight'].unique()

array([2.64109442, 3.26001222, 2.02906065, 4.57386527, 4.19347203,
       4.84026811, 4.34484644, 2.94111954, 2.74362008, 4.09314892,
       3.09233833, 3.69864505, 2.01877241, 2.18565711, 3.60610382,
       3.69821494, 4.25435883, 2.39589596, 3.53954925, 2.58334293,
       2.27958836, 3.23148738, 2.49000994, 2.66534593, 2.95266374,
       2.7781652 , 2.26277389, 2.26974873, 2.57974825, 2.15167756,
       3.87937106, 2.86198015, 2.8392379 , 2.99599488, 3.98838882,
       4.61190164, 4.2772608 , 4.18258769, 3.45317356, 4.08141667,
       3.6582871 , 2.64875158, 2.6257651 , 2.88917602, 4.73240801,
       3.64224452, 4.20171613, 3.03967628, 3.22314731, 2.37669674,
       2.51388487, 4.48206966, 3.7545159 , 3.0125974 , 4.40855363,
       2.73955972, 4.9280981 , 3.03445282, 3.01193286, 2.93573572,
       2.36633455, 2.33341144, 3.9443151 , 4.62535413, 4.37156153,
       2.42332278, 3.63674637, 2.31677464, 2.13588393, 3.96915758,
       3.605457  , 2.24607106, 2.10481774, 4.96926924, 2.090064  ,
       3.33358476, 3.51385707, 2.35184044, 2.50718534, 3.05541502,
       4.28502763, 3.52124727, 3.91370562, 4.95552367, 4.30401631,
       3.30308449, 3.33932577, 3.85631623, 3.99609563, 3.50213278,
       3.93458367, 2.07059748, 3.28886859, 2.83681423, 2.38752334,
       2.29863954, 3.8095765 , 3.57080164, 2.76075235, 3.41285018,
       3.47669695, 2.58502694, 3.95627919, 4.34275807, 4.37439062,
       3.80740949, 3.53491575, 2.18302143, 2.8634939 , 2.27981434,
       4.89146948, 2.40524044, 2.45532623, 4.66872985, 4.83178485,
       4.29748712, 2.01621477, 2.00403881, 3.13430231, 2.43018611,
       2.05515843, 3.39220007, 4.82918569, 2.97145872, 3.98342204,
       3.95670606, 2.75324031, 3.95127575, 2.63700192, 2.36602224,
       4.10414986, 2.34032245, 4.99072766, 2.5503572 , 3.78242559,
       3.23412371, 2.37915927, 2.08353172, 3.86819685, 4.42027269,
       4.52604698, 3.44814042, 4.3323664 , 4.0185414 , 4.17276358,
       3.47779702, 3.90023522, 4.41657774, 3.19365253, 4.4179367 ,
       3.77605053, 2.49770307, 2.07405247, 3.0882608 , 3.64008898,
       4.51946106, 2.38245704, 4.40061904, 4.58902714, 2.45206246,
       4.55478296, 4.9743607 , 4.18051649, 4.35430905, 4.9832458 ,
       3.81644375, 2.92365915, 4.5125925 , 3.84345733, 3.74358627,
       2.76090667, 4.26900281, 2.24500183, 4.77286121, 2.97747038,
       2.38332396, 3.3270996 , 2.12740973, 4.05387858, 4.70811653,
       4.51178902, 2.38210842, 2.37881341, 4.44030345, 4.77276282,
       3.38200949, 3.49691335, 2.95478612, 4.68279535, 3.93470872,
       2.86475473, 2.89634861, 4.67360022, 2.04090207, 2.96817972,
       3.66307004, 2.44465239, 2.27629626, 4.44582899, 4.68321317,
       4.47081926, 4.69636367, 3.65933591, 4.43677436, 3.15212792,
       3.99880358, 4.96650659, 2.67718317, 3.16969924, 3.44014213,
       2.41404646, 2.24311583, 4.4891686 , 4.93038312, 3.21417519,
       2.26294951, 2.19743528, 4.67395462, 3.39144275, 2.96008195,
       3.42938381, 2.95491228, 3.46710733, 4.57866919, 3.77690411,
       4.08396132, 3.09401203, 4.21551764, 3.99985125, 2.35868599,
       3.71792856, 2.77023049, 4.41228701, 3.27781313, 4.9840525 ,
       2.27750131, 4.34104359, 4.0211052 , 4.30249649, 2.92258939,
       3.47616347, 4.38952556, 2.69762399, 2.67809959, 3.65315286,
       3.57069074, 2.84678741, 2.89422695, 2.83353549, 4.31453619,
       3.9557026 , 4.49725155, 4.92641908, 3.42249289, 2.20008164,
       2.14427693, 2.88699512, 4.79763377, 3.56963916, 2.81535955,
       3.19750038, 3.79578532, 3.95884897, 2.46175853, 4.93109503,
       3.63431668, 2.40706495, 4.68090576, 2.22391529, 4.7232063 ,
       4.98969697, 4.1012954 , 4.31134166, 3.01190851, 4.82473056,
       3.5891419 , 4.19716534, 4.77232315, 4.92553993, 4.49961307,
       2.90905252, 4.89964255, 3.88435859, 4.79192743, 4.02831508,
       2.92171689, 3.11007357, 3.65141533, 4.37004452, 2.95394765,
       3.7391935 , 3.03687498, 4.44730821, 3.40018428, 2.23016848,
       2.49815756, 2.183314  , 3.49790884, 2.31901189, 2.34241991,
       4.82314478, 4.61796522, 3.35625979, 4.95741596, 2.00055958,
       3.84193837, 3.84928453, 3.37232917, 3.19084392, 3.36614941,
       3.24488131, 4.19147743, 2.4060663 , 2.59291766, 2.54155469,
       2.78741176, 3.57577526, 2.33362624, 4.60450789, 2.89208459,
       2.48761396, 4.02686393, 2.1142589 , 3.85990569, 4.09459529,
       2.64474959, 2.12589222, 3.09093608, 2.29578269, 2.34943355,
       2.76278369, 2.88640377, 3.58991102, 4.03517566, 3.77831282,
       2.44508101, 2.5162581 , 4.63630775, 3.67505695, 4.6098135 ,
       3.11463953, 3.84320002, 3.57099025, 2.95737047, 3.40974612,
       3.50747263, 2.60231292, 2.94503112, 4.37422925, 4.74736472,
       3.07938228, 2.92091685, 2.58559149, 4.03547351, 2.9692991 ,
       4.96324862, 2.97705441, 3.18240814, 3.81000259, 4.40505288,
       3.408556  , 3.2679681 , 4.9869135 , 2.03148092, 4.68519587,
       2.44742248, 4.35777583, 3.85379468, 3.02554186, 4.62162487,
       2.03872168, 2.68007196, 3.70067839, 3.05462678, 3.83113249,
       2.07233058, 2.34937679, 2.38128872, 2.56785094, 3.37799432,
       4.2563861 , 4.71661651, 4.50611759, 2.59066362, 3.32345166,
       2.59823479, 2.79341545, 3.51064094, 2.20432707, 2.65452299,
       4.80613448, 3.39834888, 3.33615958, 2.04370146, 2.74219924,
       4.59887731, 2.49388528, 3.24537482, 2.04299272, 3.43500645,
       2.06306332, 4.45882866, 4.4745613 , 4.36322656, 2.85009221,
       4.51171165, 3.6289944 , 3.12142433, 3.87598988, 2.03702314,
       2.42888263, 4.22688061, 2.73248483, 3.79402735, 3.15530781,
       4.56441734, 4.85724592, 4.65069419, 2.81185998, 2.58248861,
       3.42330468, 2.02200245, 2.07742818, 3.65987192, 3.56134821,
       4.98374597, 2.60552551, 2.77431179, 2.34062193, 4.75262903,
       4.33343373, 4.46701733, 4.70829136, 3.57469996, 3.35357957,
       2.99117442, 3.76764384, 3.36283519, 3.35469676, 4.81078359,
       4.95209454, 4.38945317, 4.27027427, 4.04167449, 2.49822456,
       2.17731746, 4.07217895, 4.18635867, 2.14091897, 4.78415525,
       2.27342192, 2.8577016 , 4.01716944, 2.50961778, 2.16624767,
       2.99343947, 4.29791472, 3.24103604, 3.95891877, 3.73885729,
       2.06665545, 4.96561996, 2.12428427, 4.90340821, 3.64959254,
       4.88947708, 2.3442608 , 3.47122556, 2.50851228, 2.15292463,
       3.85258735, 2.62335026, 3.76309105, 2.33709345, 2.99595941,
       4.34489767, 3.31115457, 3.88323624, 3.94237382, 4.53126513,
       2.97476838, 4.06188669, 4.88484742, 4.19073   , 3.46961143,
       3.89215233, 4.21904869, 3.8368273 , 2.05002744, 2.58432049,
       4.43140465, 2.81795194, 4.19468636, 3.11636065, 3.56565298,
       2.2039199 , 2.54367668, 4.87159089, 4.67041416, 3.95682533,
       3.37893379, 4.02728388, 3.85583087, 3.70565677, 2.17753122,
       3.89840783, 4.30676013, 4.98224496, 2.03323566, 4.19052036,
       3.71536795, 3.30215653, 2.38271052, 3.22725545, 3.06313155,
       2.90848967, 4.19263887, 4.10217656, 3.76706027, 4.81599444,
       3.04956315, 2.73140581, 3.96770994, 2.59644218, 2.94503152,
       2.67380732, 2.2074607 , 4.48249622, 2.76362163, 3.41908251,
       2.12994582, 4.0980184 , 2.99168301, 4.23421018, 3.23720918,
       2.58726682, 3.53952525, 2.39151368, 3.32161748, 2.95191643,
       4.73587875, 2.18278617, 4.08205224, 2.5482535 , 2.95713522,
       3.24654219, 4.72404527, 2.7277348 , 2.27392641, 2.95606881,
       2.31402791, 2.38578946, 3.72155179, 2.1827058 , 2.09279264,
       4.1432423 , 3.08494128, 2.37612605, 2.76083831, 3.92625952,
       2.8266097 , 3.48356338, 2.36508592, 3.76428091, 2.94823305,
       3.8809053 , 4.42518465, 3.83493926, 2.88724269, 2.7672311 ,
       2.98226288, 2.49386154, 2.54351555, 4.37207331, 3.15419773,
       3.30798554, 3.7821484 , 3.76896049, 2.20213061, 4.49462236,
       2.53197966, 4.16921491, 4.31801296, 4.1446986 , 3.73693294,
       2.04382699, 3.08112648, 3.81451829, 3.16235389, 4.59043968,
       2.92640683, 2.88060438, 2.79799308, 2.99834261, 3.67221489,
       4.12104588, 3.98770375, 4.42315346, 4.65774199, 4.44823713,
       2.05683621, 4.20775386, 2.62519872, 2.39878413, 3.91546635,
       2.95922959, 2.17135149, 2.4128892 , 2.00278825, 4.70967088,
       2.07385395, 2.62836731, 3.24878834, 3.06971398, 4.73517763,
       2.12086684, 3.53664412, 4.04143839, 4.79509392, 3.86111376,
       4.41126571, 2.25117481, 3.15781853, 3.1218414 , 4.65886465,
       2.45411351, 2.45565852, 2.98567445, 2.16339814, 2.54737412,
       4.89562892, 3.28455182, 3.89605763, 4.17833378, 3.10088422,
       2.44168122, 2.61974305, 2.93979943, 3.90820526, 3.19484165,
       2.02044409, 3.57022156, 4.76454018, 4.43623283, 4.47563411,
       4.38517405, 2.97119248, 4.2955815 , 2.42948407, 3.97314844,
       3.9247057 , 2.0767094 , 4.3639104 , 4.70974432, 2.80224584,
       4.43717217, 2.24721792, 3.79990357, 3.4569406 , 3.6377706 ,
       4.77861561, 4.61394574, 4.35525097, 2.82109537, 4.73545589,
       2.29252308, 4.55998765, 2.98448022, 2.16131693, 4.00807095,
       2.69383978, 2.73071338, 2.9181415 , 2.1910543 , 2.53138143,
       2.01541888, 3.33622856, 2.25276613, 4.04795782, 2.70686855,
       4.83072243, 4.61375488, 2.86832268, 4.34964636, 4.40973471,
       4.95968934, 3.79351996, 2.2458972 , 3.94051169, 3.87493925,
       3.91505173, 2.92143694, 4.57903876, 4.87841655, 2.65313754,
       2.26445647, 2.5836051 , 4.46165642, 4.0299339 , 3.90814203,
       3.20537941, 3.73348391, 2.92362238, 3.43160024, 4.37918909,
       4.94372479, 4.79746677, 4.80159783, 3.2066712 , 3.40636964,
       4.11690619, 4.76657578, 2.42598278, 2.91272559, 2.41774053,
       3.83602559, 2.91890299, 2.97832356, 2.21274788, 3.04938819,
       4.58748952, 2.69921844, 4.0855624 , 3.88888503, 4.59045383,
       2.39686384, 4.93276988, 3.74788594, 4.98642246, 4.73454418,
       2.66455182, 2.16848603, 2.76691728, 3.58269095, 2.5147891 ,
       2.50237923, 3.38778064, 2.09980391, 2.36566425, 3.24758402,
       2.18938973, 3.19026517, 3.4220188 , 3.35379984, 4.60752457,
       3.59018737, 3.40394139, 3.23212774, 4.45287013, 4.68516981,
       4.55972741, 4.02063973, 2.41208524, 2.83060991, 2.13818919,
       4.79247222, 3.98239559, 4.23908865, 2.93471522, 4.53696057,
       2.77880985, 2.00493127, 3.12924489, 3.71228444, 3.43611457,
       4.58622843, 2.31621586, 3.66147032, 3.53893805, 2.84417895,
       4.46668434, 4.25854597, 4.19857756, 4.62857743, 4.1683538 ,
       2.69552388, 4.11668813, 2.92310844, 2.72652395, 2.21901078,
       4.23208574, 4.13300289, 2.70349843, 4.24813705, 4.75352265,
       2.32408687, 2.69790992, 4.25078238, 2.82352002, 3.87399192,
       2.24349267, 3.35660744, 4.21727427, 4.05954183, 4.4452163 ,
       4.63235638, 4.3195505 , 4.01476323, 2.09516748, 3.60490002,
       2.11309317, 4.42420345, 2.96217357, 3.68728812, 2.83833592,
       4.34750043, 4.65950758, 3.19592748, 4.58876718, 2.80122502,
       3.60398277, 4.57628429, 2.97764403, 4.8621268 , 2.36563851,
       2.05482521, 4.71240606, 2.205946  , 4.97566759, 4.85419059,
       2.41106273, 3.61275388, 2.55476089, 3.28446552, 2.18427539,
       2.67177376, 3.08981839, 3.3159425 , 4.93248877, 4.42359694,
       4.21222983, 3.61112394, 4.51999328, 3.01796851, 4.12669734,
       4.98135193, 2.94388673, 4.0220526 , 4.53294459, 4.74742275,
       4.15379807, 2.85082377, 2.97884645, 2.0622741 , 4.28265793,
       2.12821882, 4.59395706, 2.35598184, 2.51562954, 3.42957941,
       4.21364125, 2.41700662, 3.32021323, 3.44855382, 2.63685693,
       2.34667513, 4.50926277, 3.50739695, 2.04314371, 4.4089439 ,
       4.94238142, 3.81777859, 3.51112516, 4.63524759, 4.85755037,
       4.26361075, 3.33635879, 3.7766642 , 4.1028061 , 2.58282071,
       3.3416031 , 4.48946379, 3.96417605, 3.2336122 , 3.9900876 ,
       2.35466724, 3.20449283, 4.37938561, 2.66152636, 2.55788452,
       4.85245598, 2.62969289, 2.78275574, 4.90884782, 4.20412571,
       4.0987896 , 4.55877915, 2.34746925, 4.11786871, 3.51106583,
       4.48745192, 3.52442516, 3.86072406, 3.43322638, 3.43447677,
       4.30390993, 3.8856992 , 3.8997896 , 3.35084745, 3.59332849,
       4.237153  , 4.47782276, 4.08968421, 4.77221897, 4.46097226,
       3.68559137, 4.01421822, 4.77892483, 3.85750413, 4.47442084,
       4.06643151, 3.65580908, 2.72551459, 3.27799256, 4.90322847,
       3.97329615, 3.69318614, 4.79886988, 3.75953534, 3.57824756,
       4.27793257, 4.13799686, 2.57948003, 3.41392482, 3.41754633,
       3.13467355, 3.55188045, 3.23932219, 2.59803647, 3.23709946,
       2.21683084, 3.72735759, 4.56096365, 4.17586125, 3.08118212,
       2.26121362, 2.6064482 , 3.63647102, 2.62117125, 3.63191933,
       2.69479707, 4.54677161, 3.19181442, 2.73665188, 4.43697854,
       3.02851689, 2.33446306, 3.71122847, 3.74469261, 4.14408703,
       2.7206583 , 3.33131402, 2.84710376, 2.24286121, 4.62984148,
       4.18660941, 2.90438918, 3.79811898, 2.60379136, 4.67070987,
       2.34471903, 2.01151144, 3.50602459, 3.74938347, 3.73689596,
       2.16353578, 2.94213142, 3.49759684, 2.64973756, 4.61787766,
       2.26132787, 3.46215333, 4.07424817, 2.7852533 , 3.87272221,
       4.48815545, 2.57101093, 4.75166178, 3.6606756 , 2.89769601,
       3.29257483, 2.93657565, 4.17533348, 4.38890199, 4.49881218,
       4.95730475, 4.37385288, 3.80415221, 3.0176609 , 3.63378635,
       2.12320452, 4.23447523, 3.33786664, 2.06006969, 2.18752082,
       3.16239939, 3.75026456, 3.39261185, 3.85761295, 3.44088278])

In [13]:
df.nunique()

Brand                  5
Processor_Speed     1000
RAM_Size               4
Storage_Capacity       3
Screen_Size         1000
Weight              1000
Price               1000
dtype: int64

In [14]:
df.isnull().sum()

Brand               0
Processor_Speed     0
RAM_Size            0
Storage_Capacity    0
Screen_Size         0
Weight              0
Price               0
dtype: int64

### Data Pre-Processing

### Manage Null Values

In [ ]:

df = df.drop('Price',axis=1)

In [ ]:

df = df.drop('Brand',axis=1)

In [ ]:

def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Screen_Size', 'RAM_Size']
fillnaObjectMode(columns)

In [ ]:

def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Screen_Size','RAM_Size']
fillnaIntMode(columns)

In [ ]:
def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Screen_Size','RAM_Size']
fillnaFloatMean(columns)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   float64
 1   RAM_Size          1000 non-null   int64
 2   Storage_Capacity  1000 non-null   int64
 3   Screen_Size       1000 non-null   float64
 4   Weight            1000 non-null   float64
dtypes: float64(3), int64(2)
memory usage: 39.2 KB

Manage Data Types

In [21]:
df['Weight'] = df['Weight'].astype('int64')

In [23]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Screen_Size', 'RAM_Size']
changeFloatToInt(columns)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   float64
 1   RAM_Size          1000 non-null   int64
 2   Storage_Capacity  1000 non-null   int64
 3   Screen_Size       1000 non-null   int64
 4   Weight            1000 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

In [25]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    
        df[i] = data_LE.transform(df[i])
        
columns = ['Screen_Size', 'RAM_Size']
convertObjToInt(columns)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   float64
 1   RAM_Size          1000 non-null   int64
 2   Storage_Capacity  1000 non-null   int64
 3   Screen_Size       1000 non-null   int64
 4   Weight            1000 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

In [27]:
df.head(3)

   Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size  Weight
0         3.830296         2               512            0       2
1         2.912833         0              1000            0       3
2         3.241627         0               256            0       2

In [ ]:
df.to_csv('Laptop_price.csv',index=False,header=True)

In [ ]:
df = pd.read_csv('Laptop_price.csv')