# AI-Lab: 11
### Rollnumber: 044
### Name: AYESHA SIKANDAR


<div class="alert alert-block alert-warning">
    Using <b>Python</b> version 1.12
</div>

<div class="alert alert-block alert-info">
    Import <b>Libraries</b>
</div>

In [2]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("Laptop_price.csv")
df

     Processor_Speed  RAM_Size  Storage_Capacity
0                  1         2                 1
1                  2         0                 2
2                  0         0                 0
3                  1         2                 1
4                  2         3                 2
..               ...       ...               ...
995                2         0                 2
996                0         1                 0
997                1         0                 1
998                0         1                 0
999                0         0                 0

[1000 rows x 3 columns]

<div class="alert alert-block alert-info">
    3. <b>Data Exploration</b>
</div>

In [4]:
df.head(2)

   Processor_Speed  RAM_Size  Storage_Capacity
0                1         2                 1
1                2         0                 2

In [5]:
df.tail(2)

     Processor_Speed  RAM_Size  Storage_Capacity
998                0         1                 0
999                0         0                 0

In [6]:
df.columns

Index(['Processor_Speed', 'RAM_Size', 'Storage_Capacity'], dtype='object')

In [7]:
df.count()

Processor_Speed     1000
RAM_Size            1000
Storage_Capacity    1000
dtype: int64

In [8]:
df.describe()

       Processor_Speed     RAM_Size  Storage_Capacity
count      1000.000000  1000.000000       1000.000000
mean          0.979000     1.542000          0.979000
std           0.832618     1.132925          0.832618
min           0.000000     0.000000          0.000000
25%           0.000000     1.000000          0.000000
50%           1.000000     2.000000          1.000000
75%           2.000000     3.000000          2.000000
max           2.000000     3.000000          2.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   int64
 1   RAM_Size          1000 non-null   int64
 2   Storage_Capacity  1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [10]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 1000 and Number of Columns: 3

In [11]:
df['RAM_Size'].unique()

array([2, 0, 3, 1], dtype=int64)

In [12]:
df.nunique()

Processor_Speed     3
RAM_Size            4
Storage_Capacity    3
dtype: int64

In [13]:
df.isnull().sum()

Processor_Speed     0
RAM_Size            0
Storage_Capacity    0
dtype: int64

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

<div class="alert alert-block alert-warning">
    4.1. <b>Manage Null Values</b>
</div>

In [15]:

df = df.drop('RAM_Size',axis=1)

In [20]:

def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Processor_Speed','Storage_Capacity']
fillnaFloatMean(columns)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   int64
 1   Storage_Capacity  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

<div class="alert alert-block alert-warning">
    4.2. <b>Manage Data Types</b>
</div>

In [22]:
df['Processor_Speed'] = df['Storage_Capacity'].astype('int64')

In [24]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Processor_Speed','Storage_Capacity']
changeFloatToInt(columns)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   int64
 1   Storage_Capacity  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

In [27]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    # data_LE.fit(data)
        df[i] = data_LE.transform(df[i])
        
columns = ['Processor_Speed','Storage_Capacity']
convertObjToInt(columns)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   int64
 1   Storage_Capacity  1000 non-null   int64
dtypes: int64(2)
memory usage: 15.8 KB

In [29]:
df.head(2)

   Processor_Speed  Storage_Capacity
0                1                 1
1                2                 2

In [30]:
df.to_csv('Laptop_price.csv', index=False, header=True)

In [31]:
df = pd.read_csv('Laptop_price.csv')
df

     Processor_Speed  Storage_Capacity
0                  1                 1
1                  2                 2
2                  0                 0
3                  1                 1
4                  2                 2
..               ...               ...
995                2                 2
996                0                 0
997                1                 1
998                0                 0
999                0                 0

[1000 rows x 2 columns]

<div class="alert alert-block alert-info">
    5. <b>Train - Test Splitting</b>
</div>

In [32]:
import pandas as pd
df = pd.read_csv('Laptop_price.csv')
df.columns

Index(['Processor_Speed', 'Storage_Capacity'], dtype='object')

In [35]:
X = df.drop('Storage_Capacity', axis=1)   
y = df['Storage_Capacity']

In [36]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [37]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(700, 1) (700,)
(300, 1) (300,)

<div class="alert alert-block alert-info">
    6. <b>Applying Classifier / Model Training</b>
</div>

In [38]:
from sklearn.svm import SVC 

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [39]:
model_pred_svc = model_svc.predict(test_X)
model_pred_svc

array([0, 2, 1, 0, 1, 1, 2, 1, 2, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 2, 1, 2, 1, 1, 0, 0, 2, 0, 0, 2, 0, 1, 2, 2, 1, 0, 2, 2, 1,
       1, 0, 2, 0, 0, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 0, 2, 0, 1, 0, 2, 2,
       0, 1, 1, 2, 0, 1, 1, 2, 1, 0, 2, 2, 0, 2, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 2, 2, 0, 1, 1, 2, 2, 1, 0, 2, 0, 0, 2, 0, 0, 1, 0, 1, 2, 2, 1,
       2, 0, 0, 0, 2, 0, 2, 0, 1, 2, 2, 0, 2, 2, 1, 1, 0, 1, 0, 0, 0, 2,
       1, 0, 1, 0, 1, 1, 0, 2, 1, 2, 2, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 2, 2, 0, 2, 1, 2, 2, 0, 2, 2, 2, 2, 1, 0, 0, 1, 2, 1, 2, 1, 0,
       0, 0, 2, 2, 1, 1, 0, 2, 1, 2, 2, 0, 0, 2, 2, 2, 2, 0, 1, 0, 1, 2,
       1, 0, 0, 2, 0, 2, 0, 0, 2, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 2,
       2, 1, 0, 0, 2, 2, 1, 2, 1, 2, 2, 2, 0, 0, 0, 2, 1, 1, 1, 1, 0, 0,
       2, 2, 1, 0, 1, 2, 2, 1, 2, 1, 0, 1, 0, 0, 2, 2, 2, 1, 1, 2, 1, 2,
       1, 0, 0, 2, 1, 1, 0, 0, 2, 0, 2, 0, 0, 1, 0, 0, 2, 0, 2, 0, 0, 2,
       1, 2, 2, 2, 1, 0, 2, 2, 1, 2, 0, 1, 0, 0], dtype=int64)

In [40]:
from sklearn.metrics import accuracy_score
model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(round(model_acc_svc,3)*100, "%")

100.0 %

In [41]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [42]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))