# AI-Lab: 12
### Rollnumber: 044
### Name: AYESHA SIKANDAR


<div class="alert alert-block alert-warning">
    Using <b>Python</b> version 1.12
</div>

<div class="alert alert-block alert-info">
    Import <b>Libraries</b>
</div>

In [19]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [20]:
df = pd.read_csv("Laptop_price.csv")
df

     Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size  Weight
0           3.830296         2               512            0       2
1           2.912833         0              1000            0       3
2           3.241627         0               256            0       2
3           3.806248         2               512            1       4
4           3.268097         3              1000            3       4
..               ...       ...               ...          ...     ...
995         3.343584         0              1000            1       3
996         2.780555         1               256            1       3
997         3.200569         0               512            1       3
998         1.604182         1               256            0       3
999         1.711980         0               256            5       3

[1000 rows x 5 columns]

<div class="alert alert-block alert-info">
    3. <b>Data Exploration</b>
</div>

In [21]:
df.head(2)

   Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size  Weight
0         3.830296         2               512            0       2
1         2.912833         0              1000            0       3

In [22]:
df.tail(2)

     Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size  Weight
998         1.604182         1               256            0       3
999         1.711980         0               256            5       3

In [23]:
df.columns

Index(['Processor_Speed', 'RAM_Size', 'Storage_Capacity', 'Screen_Size',
       'Weight'],
      dtype='object')

In [24]:
df.count()

Processor_Speed     1000
RAM_Size            1000
Storage_Capacity    1000
Screen_Size         1000
Weight              1000
dtype: int64

In [25]:
df.describe()

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.750611,1.542000,584.576000,2.569000,2.955000
std,0.731796,1.132925,313.438517,1.676917,0.825625
min,1.511580,0.000000,256.000000,0.000000,2.000000
25%,2.089246,1.000000,256.000000,1.000000,2.000000
50%,2.760885,2.000000,512.000000,3.000000,3.000000
75%,3.362610,3.000000,1000.000000,4.000000,4.000000
max,3.998534,3.000000,1000.000000,5.000000,4.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   float64
 1   RAM_Size          1000 non-null   int64
 2   Storage_Capacity  1000 non-null   int64
 3   Screen_Size       1000 non-null   int64
 4   Weight            1000 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

In [27]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 1000 and Number of Columns: 5

In [28]:
df['Processor_Speed'].unique()

array([3.83029571, 2.91283296, 3.24162706, 3.80624845, 3.26809659,
       1.88134761, 2.9407209 , 3.01678762, 2.56032668, 3.34111059,
       3.83591754, 3.81392128, 2.62709843, 1.78309511, 3.962103  ,
       3.59724522, 1.8116567 , 3.80210471, 3.67474091, 2.79709514,
       2.97818859, 2.49750676, 1.6369041 , 2.3379931 , 3.50713362,
       1.51158006, 2.33374793, 2.49542173, 2.84348901, 3.79963904,
       2.36586499, 2.367383  , 3.34375312, 2.63054485, 2.06151206,
       2.63109879, 1.85214255, 1.94096747, 2.74591943, 2.54731362,
       3.78711475, 2.40598475, 2.95147088, 3.08066072, 1.53273614,
       3.15884343, 1.94508992, 3.90267579, 1.87165682, 2.53656031,
       1.71337417, 3.99218563, 2.75548753, 2.98846254, 1.66769119,
       3.37490118, 2.02476398, 3.74513572, 2.0128491 , 1.9767193 ,
       1.59137417, 2.68016736, 2.91210283, 1.6642716 , 3.43881904,
       2.63322209, 2.81097567, 2.60190687, 2.50190765, 2.89910083,
       1.88810061, 1.95482033, 3.65446405, 3.86528866, 2.43327329,
       2.17686168, 3.10999886, 2.52183543, 1.56346589, 1.89038149,
       3.28993057, 3.14730985, 1.56773998, 2.0549304 , 2.07768699,
       3.17973186, 1.54927634, 1.76027145, 3.49979021, 1.94636166,
       3.13186527, 2.09545695, 1.74860348, 2.10793048, 3.30566733,
       3.63924117, 3.57554966, 2.49295882, 3.17021284, 2.01246074,
       2.23286933, 3.74083955, 1.53250481, 1.71377133, 2.01971564,
       1.56633051, 1.95358859, 2.9576039 , 2.55356138, 3.73167928,
       3.5436089 , 2.35454338, 2.14855858, 2.44923102, 2.97573736,
       2.1701591 , 3.06037227, 2.52352913, 2.88011795, 2.59031632,
       2.2361644 , 3.87113327, 3.40901449, 1.85028294, 3.67116994,
       2.718578  , 3.73638057, 3.49963814, 2.56303376, 1.55617327,
       2.1716934 , 2.85408554, 3.08369555, 2.14471921, 1.84839019,
       3.58732559, 3.96100545, 2.81422546, 1.92919821, 2.18076832,
       1.54597669, 3.78574702, 1.79437771, 2.94129119, 2.18513805,
       2.88544501, 3.12855097, 3.57435451, 2.01605318, 1.52748957,
       1.84221408, 3.7500466 , 3.68472519, 2.99353276, 3.00129215,
       3.16259169, 1.9384282 , 3.78602986, 2.54692631, 2.45784632,
       2.79729426, 1.61741492, 1.91570842, 3.34508404, 1.70699667,
       3.00788027, 2.11337277, 2.47323904, 2.22173434, 2.38918179,
       3.29761476, 2.24280429, 2.9160116 , 2.69012601, 3.15917791,
       3.84207435, 3.33143024, 2.03735095, 1.57795784, 2.15566011,
       2.98769483, 1.62856453, 2.74091562, 2.99210712, 2.33560973,
       3.42728051, 1.76649563, 1.68784445, 3.32047189, 2.73872829,
       3.22100599, 2.58706835, 2.11600508, 3.54775579, 3.4985397 ,
       3.23674118, 2.18036284, 2.97557667, 2.40243474, 1.72895518,
       3.79328394, 1.84204658, 3.87559338, 2.61501443, 1.96283232,
       2.85475237, 3.68236459, 3.33056222, 3.51640287, 3.14695842,
       3.23069141, 3.62298913, 2.12417002, 2.72356241, 2.0530236 ,
       3.96917002, 3.86014835, 1.59856703, 3.26393793, 3.81312079,
       1.95143836, 2.91986308, 3.78872074, 1.58486495, 3.24355067,
       2.24337252, 3.81099049, 3.92764561, 3.86066622, 2.68553554,
       3.65510663, 3.6113735 , 2.29775118, 3.57228869, 1.59251909,
       2.9906747 , 2.07502209, 1.80141721, 1.692383  , 3.24072194,
       2.34968741, 3.31191693, 1.66339085, 2.28822584, 2.84872823,
       3.47680791, 2.29688126, 3.06472844, 3.71494437, 3.03965797,
       2.08239869, 1.56100195, 3.67524718, 1.55317353, 3.68675418,
       2.82234284, 3.84766925, 3.49695809, 3.99483528, 2.37677954,
       3.41797072, 2.50482728, 2.69968905, 3.06876366, 3.68419279,
       3.96020867, 3.42068353, 2.54441696, 2.55339251, 3.34395575,
       2.09694286, 1.77618528, 2.38655539, 2.21809748, 2.2407703 ,
       2.08401938, 1.60523297, 1.54468484, 3.96930597, 2.56943283,
       2.46081662, 3.19911821, 2.04563472, 3.87490296, 3.46586254,
       1.72352751, 2.54395194, 3.69779577, 3.86183006, 2.66850378,
       3.03352847, 1.91758487, 3.97792157, 2.07917925, 3.85682944,
       3.12411662, 3.01934199, 2.78172128, 2.07667453, 1.94132008,
       2.05121552, 1.96609566, 3.44896118, 2.37531315, 1.64460669,
       3.92275658, 3.70946471, 3.81938071, 3.98726956, 1.93473812,
       2.49060505, 3.39559619, 3.24005155, 1.88473977, 3.53958281,
       2.06110143, 2.05954404, 2.84243606, 2.98234984, 2.95021552,
       1.72871709, 3.69365216, 2.16400011, 1.8237873 , 3.7218702 ,
       3.88912875, 3.65531904, 3.52379019, 3.13810495, 2.87714343,
       1.7174669 , 2.52113303, 2.43172129, 2.14938446, 3.30855028,
       2.73968934, 1.70261554, 2.050458  , 3.20814691, 1.69032715,
       3.62801729, 2.73786632, 2.70146644, 2.98101946, 3.56170241,
       2.36952302, 3.19504038, 2.91432991, 2.16757068, 3.69657497,
       3.49356505, 3.14612959, 3.62645432, 3.6682355 , 3.27090744,
       3.59253332, 3.24367865, 3.20035193, 3.04652845, 3.3817916 ,
       1.89651276, 3.7021769 , 3.67960882, 1.57311821, 3.56454188,
       1.82217467, 2.33779714, 3.35877064, 1.90189974, 3.54491756,
       3.58033544, 2.76866933, 1.51596468, 2.21759533, 3.0423173 ,
       3.95296545, 3.07953382, 2.14950895, 3.08501426, 2.84996345,
       3.44961349, 1.7674516 , 3.40256976, 2.85316645, 3.90748001,
       2.35468042, 3.08155473, 3.83007026, 1.75627432, 3.84307122,
       3.21971431, 1.66959265, 2.25240892, 3.27043022, 1.6683765 ,
       2.95542615, 2.36470764, 3.05228879, 1.61435508, 3.67884202,
       3.93372242, 3.92219464, 3.37412958, 1.8252156 , 3.39565799,
       1.56146729, 1.55530888, 2.30902555, 2.72160798, 3.42601854,
       3.20823844, 2.61475677, 2.18406667, 3.99281125, 2.56545326,
       2.62846756, 1.90905955, 3.48702387, 3.23420556, 2.05192403,
       1.70595261, 3.20124826, 3.13627804, 2.18314882, 3.87715891,
       1.87764473, 2.580837  , 3.8590398 , 2.54931829, 3.09631487,
       2.49398599, 2.18553801, 3.95994412, 2.52333502, 3.73524801,
       2.07488651, 2.03276176, 1.57783521, 3.12916706, 2.42131586,
       3.66089562, 2.68302477, 3.92048357, 1.96381379, 3.67155792,
       3.44149213, 3.42730461, 3.61195807, 3.40255998, 3.0655508 ,
       1.82811219, 1.58131545, 3.80211962, 3.04162579, 3.49134323,
       2.70380588, 1.79327047, 1.81296448, 3.21391322, 2.57576474,
       2.00131182, 2.72898637, 1.66052234, 2.9549285 , 2.17248351,
       3.49389775, 2.2759049 , 2.63805037, 1.52905135, 1.68111722,
       2.48123389, 2.69984709, 3.00005137, 2.22915645, 3.23745472,
       3.65030599, 3.44962747, 1.59904706, 2.70126737, 1.76232545,
       2.10511254, 3.96665648, 1.85623886, 2.74722038, 3.04538934,
       3.25616243, 2.89912171, 1.52442712, 2.31615327, 2.79427911,
       1.71966625, 2.37656733, 1.58300777, 1.69644624, 2.49230819,
       1.83178939, 2.91885212, 3.22366242, 3.50146675, 2.00037561,
       1.91870646, 1.7614196 , 3.09107562, 3.26618932, 1.57896536,
       3.84053062, 1.62992821, 2.85324084, 3.2726513 , 3.67742281,
       3.28521733, 3.50432021, 2.34862548, 3.53706278, 1.70028712,
       3.73704164, 2.86898094, 3.54324442, 2.63079571, 3.10894424,
       2.81600665, 3.3289738 , 1.70407496, 1.65088021, 2.11775809,
       1.8988617 , 3.67945892, 2.04803497, 3.93966314, 2.34223948,
       1.95529479, 3.47424627, 3.14676944, 2.74548929, 2.88840888,
       3.29800445, 2.07113685, 3.99083479, 3.93698291, 3.12581422,
       1.99885613, 3.20057061, 1.68049602, 1.57663126, 2.14420722,
       2.65655739, 3.67068126, 3.31792267, 3.3567663 , 2.56373334,
       2.36483748, 2.42759691, 3.96912391, 1.60027298, 3.66757874,
       2.94668852, 2.59653855, 3.31314415, 2.71667235, 3.6835581 ,
       3.75175466, 2.55430232, 2.19206949, 2.98087582, 3.78090836,
       2.02665547, 3.05741646, 3.07890055, 3.33278256, 1.82891921,
       3.28956241, 3.7725813 , 1.94920777, 2.09385831, 3.92848774,
       1.95244238, 3.63596273, 2.73069464, 2.11807769, 3.67687475,
       2.61326314, 2.78704338, 2.39808342, 2.98237713, 1.90880968,
       2.47770384, 3.92353081, 2.14533358, 3.14184166, 2.31297516,
       3.43368281, 1.82718415, 3.92455261, 2.63447385, 2.09012616,
       1.68374187, 1.92439476, 2.79943487, 2.34250794, 3.57220841,
       2.57721881, 2.12178568, 3.04286247, 3.26694304, 1.91760477,
       1.91904804, 1.59167857, 3.34100504, 3.15951132, 2.68657719,
       3.61042612, 3.51417538, 2.96338591, 3.6706782 , 2.01460303,
       1.77979905, 2.17437403, 1.64271714, 2.82792382, 3.84151423,
       1.59835885, 1.80527479, 2.63049757, 3.83468754, 2.29039026,
       2.76808702, 1.60393215, 1.870858  , 3.96657531, 3.91279674,
       1.51234995, 3.87952946, 3.09779984, 3.66979574, 2.63684964,
       2.78899007, 2.72211645, 3.16716064, 1.84912814, 1.57493397,
       2.26982485, 3.26170191, 2.00463363, 3.18358108, 3.92478012,
       1.73475179, 3.1815053 , 2.60937555, 3.67035564, 1.94287447,
       3.23156488, 3.59528822, 3.86153555, 3.20812007, 2.74293691,
       3.0446181 , 3.67226246, 2.92652437, 1.57596765, 3.82737174,
       3.22381688, 3.19128346, 2.03918788, 3.14721368, 2.48466101,
       3.12808244, 1.76648258, 3.14461326, 3.99853431, 1.6205301 ,
       3.94293546, 2.5172699 , 3.67688363, 3.45596371, 2.91754065,
       3.34612302, 3.6962889 , 2.5103508 , 2.3175829 , 3.16898346,
       3.51961485, 3.40571284, 3.49453412, 2.58895829, 3.54458554,
       1.80052264, 2.86122274, 1.51439665, 2.31146457, 2.41615384,
       2.49043173, 3.23866802, 2.47139525, 2.62173406, 2.09386033,
       2.43312948, 2.06817407, 1.68298981, 3.00862148, 3.170532  ,
       3.04872587, 2.65873511, 2.44946445, 3.65833412, 2.79770446,
       2.69795469, 1.56410516, 2.35311957, 2.45048905, 2.49705695,
       2.95043092, 2.83400637, 3.01976273, 3.41220815, 3.53246435,
       3.29530769, 3.88880924, 1.54558146, 1.98944496, 1.51890719,
       3.11868679, 3.74507637, 2.10870574, 3.81758636, 1.65066848,
       3.83609007, 2.37905672, 1.75355207, 2.7146794 , 2.14194142,
       2.21218225, 2.26822491, 3.50756474, 2.84790319, 2.27826925,
       3.02583446, 3.29037669, 2.18156   , 2.53387275, 1.80471523,
       1.95287337, 3.20279463, 1.95359587, 2.81290846, 3.27261565,
       1.76719231, 2.91828055, 2.14140696, 3.90731719, 2.70886412,
       3.51498137, 2.87556636, 1.60853133, 3.08287844, 3.87850836,
       3.00402955, 3.54797215, 3.71051616, 2.07019943, 2.0301121 ,
       3.02745247, 2.52757117, 3.59965326, 3.75005781, 2.38355345,
       2.0921764 , 3.45131379, 2.18701509, 3.5565358 , 2.55934563,
       3.16887475, 1.73883828, 3.05964831, 2.6294192 , 2.96652116,
       1.92003552, 3.34218436, 3.65699269, 2.0418495 , 1.73928639,
       1.55909647, 3.10492875, 3.01773509, 2.86674353, 2.07986774,
       2.47726499, 2.98619084, 2.74191715, 3.9694638 , 1.84109938,
       3.23786139, 2.51079692, 2.57049904, 3.29399441, 3.23109038,
       3.97813998, 1.82098572, 1.76027412, 3.31084704, 2.94596729,
       2.18540167, 1.69854842, 1.71414562, 3.73547719, 1.97966831,
       2.30842891, 2.06664101, 2.38749076, 1.67355961, 2.79764948,
       1.66903141, 3.50089127, 2.0842802 , 2.85002979, 3.70019772,
       3.12719342, 2.83239447, 2.31083438, 2.33250478, 3.17371739,
       3.9853484 , 3.15459797, 2.89445854, 3.32662628, 2.66301403,
       1.65035586, 2.90574204, 3.89406321, 1.93825736, 3.22501223,
       2.00233422, 2.83956921, 1.74169112, 2.62592734, 3.39040832,
       2.36892881, 3.16227931, 3.4886249 , 3.81794455, 2.0866052 ,
       2.49828979, 1.88104003, 3.98120876, 3.81750242, 2.84989283,
       3.60508324, 2.80239494, 3.05896422, 1.72281108, 3.38817605,
       1.81928371, 3.56516908, 3.45507022, 3.27186174, 1.59040095,
       2.25782089, 2.15778142, 2.40034102, 1.71910687, 3.84239456,
       2.8845056 , 2.26381078, 2.49245379, 2.61800635, 3.00148583,
       2.78919857, 3.79847993, 2.74240871, 3.98039504, 3.62856239,
       2.02127629, 3.82648804, 1.79091599, 3.54362427, 2.45155823,
       3.6949358 , 3.67014173, 3.5148135 , 3.47507609, 2.26169785,
       1.70229821, 2.50745045, 1.93381129, 3.23737772, 2.36524932,
       3.9390255 , 3.10243019, 3.55620141, 1.83131168, 3.65503621,
       3.80689298, 2.7176548 , 3.01563234, 3.4120245 , 1.93709657,
       2.75641519, 2.49665757, 1.86593498, 2.41883606, 1.67043077,
       1.56452977, 1.83791572, 3.90778778, 2.87382384, 3.9145554 ,
       2.5812447 , 2.27954033, 2.76535466, 2.59877922, 1.76416171,
       3.10206579, 2.04009546, 3.04896989, 3.12550273, 1.88006213,
       1.65337407, 3.45190397, 2.64950106, 1.64540949, 3.98716579,
       1.6444514 , 3.23758807, 3.95919731, 2.09795026, 1.85562342,
       1.80346235, 2.25818787, 1.75261453, 3.23040335, 1.6557295 ,
       2.77355532, 3.99174213, 3.53492567, 3.0380486 , 2.26563405,
       3.05973959, 2.81760366, 2.56520846, 1.82677594, 3.71651054,
       2.62446162, 1.98655628, 2.41939838, 2.53532438, 3.56884474,
       3.33403595, 3.42326223, 1.52757816, 2.540385  , 2.70336038,
       1.54798069, 2.14953302, 3.40072456, 1.84277426, 2.83827533,
       2.03800468, 1.53030194, 2.10300364, 3.93968439, 3.50384278,
       3.89894161, 2.71963511, 1.7743405 , 2.86989872, 2.63594334,
       3.61089271, 1.74520645, 2.72060284, 1.87512166, 2.31168982,
       3.34339269, 2.69004532, 2.43972071, 2.4861907 , 2.64861692,
       3.46254136, 3.73021172, 3.88833672, 3.46725847, 2.28851724,
       3.22033677, 2.59400781, 2.13667656, 3.60217895, 1.59606587,
       3.75440498, 2.65369366, 3.09300369, 3.14838481, 3.73779435,
       3.09167421, 3.03483396, 1.6666301 , 2.79602005, 1.8754225 ,
       3.34358442, 2.7805548 , 3.20056945, 1.60418225, 1.71198004])

In [29]:
df.nunique()

Processor_Speed     1000
RAM_Size               4
Storage_Capacity       3
Screen_Size            6
Weight                 3
dtype: int64

In [30]:
df.isnull().sum()

Processor_Speed     0
RAM_Size            0
Storage_Capacity    0
Screen_Size         0
Weight              0
dtype: int64

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

<div class="alert alert-block alert-warning">
    4.1. <b>Manage Null Values</b>
</div>

In [31]:

df = df.drop('RAM_Size',axis=1)

In [32]:

def fillnaFloatMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Processor_Speed','Storage_Capacity']
fillnaFloatMean(columns)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   float64
 1   Storage_Capacity  1000 non-null   int64
 2   Screen_Size       1000 non-null   int64
 3   Weight            1000 non-null   int64
dtypes: float64(1), int64(3)
memory usage: 31.4 KB

<div class="alert alert-block alert-warning">
    4.2. <b>Manage Data Types</b>
</div>

In [34]:
df['Processor_Speed'] = df['Storage_Capacity'].astype('int64')

In [35]:

def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Processor_Speed','Storage_Capacity']
changeFloatToInt(columns)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   int64
 1   Storage_Capacity  1000 non-null   int64
 2   Screen_Size       1000 non-null   int64
 3   Weight            1000 non-null   int64
dtypes: int64(4)
memory usage: 31.4 KB

In [37]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    # data_LE.fit(data)
        df[i] = data_LE.transform(df[i])
        
columns = ['Processor_Speed','Storage_Capacity']
convertObjToInt(columns)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Processor_Speed   1000 non-null   int64
 1   Storage_Capacity  1000 non-null   int64
 2   Screen_Size       1000 non-null   int64
 3   Weight            1000 non-null   int64
dtypes: int64(4)
memory usage: 31.4 KB

In [39]:
df.head(2)

   Processor_Speed  Storage_Capacity  Screen_Size  Weight
0                1                 1            0       2
1                2                 2            0       3

In [40]:
df.to_csv('Laptop_price.csv', index=False, header=True)

In [41]:
df = pd.read_csv('Laptop_price.csv')
df

     Processor_Speed  Storage_Capacity  Screen_Size  Weight
0                  1                 1            0       2
1                  2                 2            0       3
2                  0                 0            0       2
3                  1                 1            1       4
4                  2                 2            3       4
..               ...               ...          ...     ...
995                2                 2            1       3
996                0                 0            1       3
997                1                 1            1       3
998                0                 0            0       3
999                0                 0            5       3

[1000 rows x 4 columns]

<div class="alert alert-block alert-info">
    5. <b>Train - Test Splitting</b>
</div>

In [42]:
import pandas as pd
df = pd.read_csv('Laptop_price.csv')
df.columns

Index(['Processor_Speed', 'Storage_Capacity', 'Screen_Size', 'Weight'], dtype='object')

In [43]:
X = df.drop('Storage_Capacity', axis=1)   
y = df['Storage_Capacity']

In [44]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [45]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(700, 3) (700,)
(300, 3) (300,)

<div class="alert alert-block alert-info">
    6. <b>Applying Classifier / Model Training</b>
</div>

In [46]:
from sklearn.svm import SVC 

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [47]:
model_pred_svc = model_svc.predict(test_X)
model_pred_svc

array([0, 2, 1, 0, 1, 1, 2, 1, 2, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 2, 1, 2, 1, 1, 0, 0, 2, 0, 0, 2, 0, 1, 2, 2, 1, 0, 2, 2, 1,
       1, 0, 2, 0, 0, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 0, 2, 0, 1, 0, 2, 2,
       0, 1, 1, 2, 0, 1, 1, 2, 1, 0, 2, 2, 0, 2, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 2, 2, 0, 1, 1, 2, 2, 1, 0, 2, 0, 0, 2, 0, 0, 1, 0, 1, 2, 2, 1,
       2, 0, 0, 0, 2, 0, 2, 0, 1, 2, 2, 0, 2, 2, 1, 1, 0, 1, 0, 0, 0, 2,
       1, 0, 1, 0, 1, 1, 0, 2, 1, 2, 2, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 2, 2, 0, 2, 1, 2, 2, 0, 2, 2, 2, 2, 1, 0, 0, 1, 2, 1, 2, 1, 0,
       0, 0, 2, 2, 1, 1, 0, 2, 1, 2, 2, 0, 0, 2, 2, 2, 2, 0, 1, 0, 1, 2,
       1, 0, 0, 2, 0, 2, 0, 0, 2, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 2,
       2, 1, 0, 0, 2, 2, 1, 2, 1, 2, 2, 2, 0, 0, 0, 2, 1, 1, 1, 1, 0, 0,
       2, 2, 1, 0, 1, 2, 2, 1, 2, 1, 0, 1, 0, 0, 2, 2, 2, 1, 1, 2, 1, 2,
       1, 0, 0, 2, 1, 1, 0, 0, 2, 0, 2, 0, 0, 1, 0, 0, 2, 0, 2, 0, 0, 2,
       1, 2, 2, 2, 1, 0, 2, 2, 1, 2, 0, 1, 0, 0], dtype=int64)

In [48]:
from sklearn.metrics import accuracy_score
model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(round(model_acc_svc,3)*100, "%")

100.0 %

In [49]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [50]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))